@import url("./variaveis.css");
.decodificador__container-botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.botoes {
    padding: 20px;
    border-radius: 24px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    width: 100vw;
    border: none;
    margin: .5rem 0;
}

.botoes__criptografar-img,
.botoes__descriptografar-img,
.botoes__copiar-img {
    width: 5vw;
    margin-right: .5rem;
}

.criptografar {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    align-items: center;
}

.descriptografar {
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    border: 1px solid var(--cor-terciaria);
    display: flex;
    justify-content: center;
    align-items: center;
}

.copiar {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    border: 1px solid var(--cor-primaria);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 0;
}

@media screen and (min-width:768px) {
    .decodificador__containerGeral-botoes {
        display: flex;
        justify-content: space-around;
        width: 0 auto;
        margin-right: 0;
    }

    .botoes {
        width: 42vw;
    }
}

@media screen and (min-width: 1440px) {
    .decodificador__containerGeral-botoes {
        width: 55vw;
        display: flex;
        justify-content: space-around;
    }

    .botoes {
        width: 25vw;
        height: 7vh;
    }

    .botoes__criptografar-img,
    .botoes__descriptografar-img,
    .botoes__copiar-img {
        width: 2vw;
        margin-right: .5rem;
    }
}