@import url("variaveis.css");
@import url("main.css");

.container__criptografia {
    width: 100%;
    background-color: var(--cor-secundaria);
    padding: 1rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 2.95px 2.95px 4.6px;
    border-radius: 32px;
    margin: 4rem 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__campoCriptografia {
    display: flex;
}

.campoCriptografia-textos {
    margin: 1rem 0 1rem;
}

.campoCriptografia__img {
    display: none;
}

.campoCriptografia__msgNenhumaMensagem {
    color: var(--cor-primaria);
    font-weight: 700;
    font-size: 24px;
}

.campoCriptografia__msgDigite {
    font-weight: 300;
    font-size: 14px;
    margin-top: 1rem;
}

.container__campoTextoCodificado {
    display: none;
    flex-direction: row;
    align-items: left;
    height: 540px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.campoTextoCodificado {
    resize: none;
    width: 80vw;
    height: 430px;
    background-color: transparent;
    border: none;
    color: var(--cor-terciaria);
    font-size: 1.5rem;
    text-align: left;
}

.container__copiar {
    display: flex;
    margin-top: 2rem;
}

.copiar {
    display: none;
}

@media screen and (min-width:768px) {

    .container__criptografia {
        display: flex;
        justify-content: center;
        margin: 2rem 0;
        width: 0 auto;
    }

}

@media screen and (min-width: 1440px) {
    .container__grid-aside {
        grid-area: "aside";
    }

    .container__criptografia {
        margin: 2rem;
        width: 29vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
    }

    .container__campoCriptografia {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .campoCriptografia__img {
        display: block;
        width: 200px;
        height: 200px;
    }

    .campoTextoCodificado {
        width: 25vw;
        height: 60vh;
    }

    .container__campoTextoCodificado {
        height: 74vh;
        justify-content: space-between;
    }
}
