@import url("variaveis.css");
@import url("main.css");

.decodificador__campoTexto {
    resize: none;
    width: 100%;
    height: 30vh;
    margin-top: 2rem;
    background-color: transparent;
    border: none;
    color: var(--cor-terciaria);
    font-size: 1.5rem;
}

.decodificador__campoTexto::placeholder {
    color: var(--cor-terciaria);
    text-align: left;
    font-size: 1.5rem;
    display: flex;
}

.decodificador__container-alerta {
    display: flex;
    justify-content: left;
    align-items: center;
}

.alerta__img {
    width: 5vw;
}

.alerta__texto {
    font-weight: 300;
    font-size: 12px;
    margin: .5rem;
}

.texto__invalido {
    color: lightcoral;
    font-size: 26px;
}

@media screen and (min-width:768px) {
    .container__decodificador {
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1440px) {

    .container__decodificador {
        margin-left: 5rem;
        grid-area: "main";
        width: 80%;
        height: 80vh;
    }

    .decodificador__campoTexto {
        width: 60vw;
        height: 70vh;
        margin-right: 1rem;
        padding: 0 0 35rem 1rem;
    }

    .alerta__img {
        width: 1vw;
    }
}