.container__footer {
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 12px;
    margin: 1rem;
}

.footer__text {
    margin-bottom: .5rem;
    text-align: center;
}

@media screen and (min-width: 1440px) {
    .container__footer {
        margin: 0rem;
    }
}
