.container__header {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 1rem 0;
}

.header_logo {
    width: 9vw;
}

@media screen and (min-width:768px) {
    .container__header {
        margin: 0;
    }
}

@media screen and (min-width: 1440px) {

    .container__header {
        margin: 0rem;
    }

    .header_logo {
        width: 3vw;
    }
}
