@import url("variaveis.css");
@import url("header.css");
@import url("decodificador.css");
@import url("botoes.css");
@import url("criptografia.css");
@import url("footer.css");
@import url("main.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-texto-primaria);
    font-family: var(--fonte-principal);
    height: 100vh;
    margin: 1.5rem;
}
@media screen and (min-width:768px) {
    body {
        margin-right: 2.5rem;
    }
}

@media screen and (min-width: 1440px) {
    body {
        margin: 2rem;
        height: 50vh;
    }
}
