:root {
    --cor-primaria: #557153;
    --cor-secundaria: #A9AF7E;
    --cor-terciaria: #e7e7cf;
    --cor-neutra: #000000;
    --cor-texto-primaria: #e7e7cf;
    --cor-texto-secundaria: #557153;
    --fonte-principal: 'Chivo Mono', monospace;
}
